.app-view {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
