/* CSS RESET  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* TODO think if a lighter background would be more feasible to use */
  /* background-color: #f5f5f5; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
