.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin: 40px 40px; */
  margin-bottom: 50px;
  /* background-color: red; */
  height: 80px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  /* FIXME this might cause problem for menu */
}

.same-width {
  width: 345px;
}
.logo {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 30px;
  text-decoration: none;
  width: fit-content;
  color: black;
  border-radius: 3px;
  padding: 2px 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: black;
    color: white;
  }
}

.nav-options {
  display: flex;
  justify-content: flex-end;
}

.my-list {
  text-decoration: none;
  color: black;
}

.list-count {
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 1px 6px;
  border-radius: 25px;
  position: relative;
  bottom: 13px;
  right: 14px;
  font-size: 10px;
}

.user-image {
  height: 50px;
  border-radius: 50px;
}

.mylist-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.signup-link {
  background-color: black;
  color: white;

  padding: 12px 22px;

  text-decoration: none;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.signup-link:hover {
  color: black;
  background-color: white;
  letter-spacing: 2.2px;
}

.signin-link {
  background-color: white;
  color: black;

  padding: 12px 22px;

  text-decoration: none;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.signin-link:hover {
  color: white;
  background-color: black;
  letter-spacing: 2.2px;
}

.signout-link {
  background-color: transparent;
  color: black;

  padding: 10px 20px;

  text-decoration: none;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.5s;
  border: 1.5px solid black;
}
.signout-link:hover {
  color: white;
  background-color: black;
  letter-spacing: 2.2px;
}
