.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 40px;
  margin-bottom: 50px;
  /* FIXME this might cause problem for menu */
}

.same-width {
  width: 150px;
}
.logo {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 20px;
}

.nav-options {
  display: flex;
}

.my-list {
  text-decoration: none;
  color: black;
}

.list-count {
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 1px 6px;
  border-radius: 25px;
  position: relative;
  bottom: 13px;
  right: -1px;
  font-size: 10px;
}

.user-image {
  height: 50px;
  border-radius: 50px;
}

.mylist-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
