.user-menu {
  display: flex;
  padding: 20px;
  justify-content: center;
  font-weight: 600;
  gap: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: #ffffff;
}

.user-menu > p {
  padding: 10px;
}

.menu-selected {
  color: black;
  border-bottom: 2px solid black;
}

.menu-link {
  text-decoration: none;
  color: black;
}
