.connect-btn {
  margin-top: 10px;
  padding: 10px;
  border-radius: 25px;
  border: 1.5px solid black;
  background-color: white;
  font-family: inherit;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.2s;
}

.connect-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}
