.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-itself {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  min-width: 350px;
}

.form--title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
  gap: 10px;
}

.input-box {
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  outline: none;
  font-size: 16px;
}

.input-label {
  letter-spacing: 2px;
}

.create-btn {
  border-radius: 25px;
  border: 2px solid black;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 10px;
  transition: all 0.5s;
  outline: none;
}

.create-btn:hover {
  background-color: black;
  color: white;
  letter-spacing: 6px;
}

textarea {
  resize: none;
}
