.hero-container {
  height: 100vh;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* left: 0;
  bottom: 0; */
  z-index: -1;
}

.hero-content-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.294);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-text {
  font-size: 100px;
  font-weight: 800;
  transition: color 0.5s;
}

.main-text:hover {
  -webkit-text-stroke: 3px #fff;
  color: transparent;
}

.sub-text {
  font-size: 40px;
  font-weight: 400;
}

.explore-btn {
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 50px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.explore-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  letter-spacing: 3px;
}
